<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AlbumPictureMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.AlbumPicture">
    <id column="album_id" jdbcType="INTEGER" property="albumId" />
    <id column="picture_id" jdbcType="INTEGER" property="pictureId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from album_picture
    where album_id = #{albumId,jdbcType=INTEGER}
      and picture_id = #{pictureId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.AlbumPicture">
    insert into album_picture (album_id, picture_id)
    values (#{albumId,jdbcType=INTEGER}, #{pictureId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.AlbumPicture">
    insert into album_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="albumId != null">
        album_id,
      </if>
      <if test="pictureId != null">
        picture_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="albumId != null">
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="pictureId != null">
        #{pictureId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="getPictures" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from album_picture
    where album_id = #{albumId,jdbcType=INTEGER}
  </select>
</mapper>