<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PictureMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Picture">
    <id column="picture_id" jdbcType="INTEGER" property="pictureId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="width" jdbcType="VARCHAR" property="width" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    picture_id, position, width, height, type_name, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from picture
    where picture_id = #{pictureId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from picture
    where picture_id = #{pictureId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Picture">
    insert into picture (picture_id, position, width, 
      height, type_name, description
      )
    values (#{pictureId,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{width,jdbcType=VARCHAR}, 
      #{height,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pictureId" parameterType="com.example.demo.entity.Picture">
    insert into picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pictureId != null">
        picture_id,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pictureId != null">
        #{pictureId,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        #{width,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Picture">
    update picture
    <set>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where picture_id = #{pictureId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Picture">
    update picture
    set position = #{position,jdbcType=VARCHAR},
      width = #{width,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where picture_id = #{pictureId,jdbcType=INTEGER}
  </update>

  <select id="selectByType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from picture
    where type_name like CONCAT(CONCAT('%', #{type_name, jdbcType=VARCHAR}), '%')
  </select>
  <select id="selectByKeyWords" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from picture
    where description like CONCAT(CONCAT('%', #{keyWords, jdbcType=VARCHAR}), '%')
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from picture
  </select>
</mapper>